button{
    cursor: pointer;
}
.wrapper {
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
    height: auto;
    background: #f4f4f4;
    margin: 0 auto;
}
.wrapper__filter{
    margin: 10px 0 0 5px;
}

.wrapper__form{
    padding: 0;
    margin: 0;
}
.wrapper__form__input{
    width: 300px;
    font-size: 20px;
    height: 40px;
    padding: 0 5px;
    box-sizing: border-box;
}
.wrapper__form__btn{
    height: 40px;
    padding: 0 5px;
    font-size: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.wrapper__ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.wrapper__ul__li {
    margin: 0 0 10px 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

.wrapper__ul__li__edit {
    border-bottom: 1px solid rgba(0, 114, 255, .3);
    color: #0072ff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}