<div class="wrapper">
    <form class="wrapper__form" ng-submit="vm.submit(todoForm)" name="todoForm">
        <input maxlength="20" class="wrapper__form__input" type="text" name="taskName" ng-model="vm.taskName" placeholder="Enter task name" required/>
        <button class="wrapper__form__btn" type="submit">Add Task</button>
    </form>

    <div class="wrapper__filter">
        <input type="checkbox" ng-model="markedFilter" /> <b>only selected</b>

        | <button ng-click="vm.todoListService.removeSelectedItem()">Delete Selected</button>
    </div>
<hr/>
    <ul class="wrapper__ul">
        <li class="wrapper__ul__li" ng-repeat="item in vm.todoListService.list | orderBy: '-title' | filter: {'status' : markedFilter || ''}">

            <div ng-if="item.isEdit">
                <form name="form_{{item.id}}" ng-submit="vm.todoListService.submitItem(item)">
                    <input maxlength="20" type="text" ng-init="item.newValue=item.title" ng-model="item.newValue" required />
                    <button type="submit">Save</button>
                    <button ng-click="item.isEdit = !item.isEdit">Cancel</button>
                </form>
            </div>

            <div ng-if="!item.isEdit">
                <input type="checkbox" ng-checked="item.status" ng-click="vm.todoListService.toggleStatus(item)"/>
                <button ng-click="item.isEdit = !item.isEdit">Edit</button>
                <button ng-click="vm.todoListService.removeItem(item.id)">Delete</button>
                {{item.title}}
            </div>

        </li>
    </ul>
</div>